extends layouts/main

block content
    .video__player
        video(src=`/${video.fileUrl}`)
    .video__info
        a(href=routes.editVideo) Edit video
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description